
extends left

block right
  each val in posts
    a(href="/u/#{val.name}/#{val.time.day}/#{val.title}") #{val.title}
    p
      作者: #{val.name} | 日期: #{val.time.minute}
    div.post
      !{val.post}
    
  
